In [1]:
# this is a comment

In [3]:
""" this is a multiline comment"""

print('hello') # this is also a comment

hello

In [4]:
"""monday execises"""

'monday execises'

In [5]:
print("ARchana Deshpande")

ARchana Deshpande

In [6]:
type(17)

int

In [7]:
type("ABC")

str

In [8]:
num1=1
num2=2
result=num1+num2
print(result)

3

In [9]:
result+=1
print(result)
result*=num2
print(result)

4
8

In [10]:
"""Tuesday exercises"""

'Tuesday exercises'

In [32]:
x=3
y=10
result=x*y
add = x+y

print(x,"+",y,"=",add)
print("{} + {} = {}".format(x,y,add))

print(f"{x} + {y} = {add}")

3 + 10 = 13
3 + 10 = 13
3 + 10 = 13

In [23]:
"""Wednesday exercises"""

'Wednesday exercises'

In [25]:
print("{} {} {} {}".format(23,4.5,False,"John"))

23 4.5 False John

In [30]:
print("{}'s favourite sport is {}".format("Archana","timepass"))
print("{} is working on {} programming!".format("Archana","python"))

Archana's favourite sport is timepass
Archana is working on python programming!

In [37]:
name='   jOhN SmIth   '
print(name.title())
print(name.upper())
print(name.lower())

   John Smith
   JOHN SMITH
   john smith

In [35]:
words = "Hello There!"
print(words.replace("!","."))

Hello There.

In [36]:
print(words.find("o"))

4

In [38]:
print(name.strip())
print(name.rstrip())
print(name.lstrip())

jOhN SmIth
   jOhN SmIth
jOhN SmIth

In [39]:
print(name.split())

['jOhN', 'SmIth']

In [40]:
"""Thursday exercises"""

'Thursday exercises'

In [41]:
print("uppercase".upper())

UPPERCASE

In [43]:
emp="$$$ $$$ John $$$ Smith $$$"
print(emp.strip("$"))
print(emp.strip("$$$ "))

 $$$ John $$$ Smith
John $$$ Smith

Friday Project: Printing Receipts.

In [2]:
company_name = 'Coding Temple, Inc.'
address1 = '283 Franklin St.'
address2 = 'Boston, MA'

p1_name, p1_price = 'Books',49.95
p2_name, p2_price = 'Computer',579.99
p3_name, p3_price = 'monitor',124.89

total = p1_price + p2_price + p3_price
message = 'Thanks for shopping with us today!'

print("*" * 50)
print(f"\t\t{company_name}")
print(f"\t\t{address1}")
print(f"\t\t{address2}")
print("=" * 50)

print("\tProduct Name\tProduct Price")
"""print(f"\t{p1_name.title()}\t\t${p1_price}")
print(f"\t{p2_name.title()}\t${p2_price}")
print(f"\t{p3_name.title()}\t\t${p3_price}")"""

print("\t{} \t\t${}".format(p1_name.title(),p1_price))
print("\t{} \t${}".format(p2_name.title(),p2_price))
print("\t{} \t${}".format(p3_name.title(),p3_price))
print("=" * 50)
#need to check more on the tabl issue
print("\t\t\tTotal")
print(f"\t\t\t${total}")
print("=" * 50)


print(f"\t{message}")
print("*" * 50)

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA
==================================================
	Product Name	Product Price
	Books 		$49.95
	Computer 	$579.99
	Monitor 	$124.89
==================================================
			Total
			$754.83
==================================================
	Thanks for shopping with us today!
**************************************************

In [11]:
hello = "Hello"
print(hello[-1::-1])

olleH

In [16]:
hello.center(50,"*")

'**********************Hello***********************'

In [17]:
hello.ljust(50,"*")

'Hello*********************************************'

In [19]:
hello.zfill(50)

'000000000000000000000000000000000000000000000Hello'